<template>
<div>
    <div class="calendar">
        <div class="calendar-header">
            <div>
                <label><input type="checkbox" v-model="filters.pending"> <small>Show all pending registrations</small></label>
            </div>
            <div class="label">
                <i @click="subtractMonth">&lt;</i>
                <h3>{{ month + ' ' + year }}</h3>
                <i @click="addMonth">&gt;</i>
            </div>
            <div>

            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="weekdays" v-for="(day, index) in weekDays" :key="index">
                        {{day}}
                        
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(week, index) in weeks" :key="'w'+index">
                    <td v-for="day in week" :key="day.id" 
                    :class="{
                        'no-current-month': day.month != noMonth,
                        'today': day.month == today.month()+1 && day.day == today.date() && day.year == today.year(), 
                        'occupied': day.registrations && day.registrations.length,  
                    }"
                    >
                        {{day.day}}
                        <div class="participants" v-if="day.registrations && day.registrations.length">
                            <div class="participant" v-for="reg in day.registrations" :key="reg.id">
                                <div v-if="reg.guest_type == 'participant'">
                                    <span v-if="reg.status == 'pending'"> (pending)</span>
                                    {{reg.full_name}}
                                    <button class="gold-btn" @click="editRegister(reg)">Edit</button>
                                </div>
      
                            </div>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            {{availableDays}} available days
        </div>

    </div>
    <register-editor v-if="selectedRegister" :register="selectedRegister" 
        @close="closeEditor" 
        @save="saveInfo" 
    />
    </div>
</template>


<script>
import moment from 'moment'

import RegisterEditor from './RegisterEditor.vue'

    export default {
        components:{
            RegisterEditor
        },
        mounted(){
            this.getRegistrations()
        },
        data(){
            return {
                filters:{
                    pending:false,
                },
                params:{
                    room_id:6
                },
                selectedRegister:null,
                registrations:[],
                today:moment(),
                dateContext: moment('2025-08-01'),
                weekDays: ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
            }
        },
        computed:{
        
            year(){
                return this.dateContext.format('Y');
            },
            month(){
                return this.dateContext.format('MMMM');
            },
            noMonth(){
                return moment(this.dateContext).month()+1;
            },
            noDay(){
                return moment(this.dateContext).date();
            },
            daysInMonth(){
                return this.dateContext.daysInMonth();
            },
            currentDate(){
                return this.dateContext.get('date');
            },
            firstDayOfMonth(){
                return moment(this.dateContext).startOf('month').weekday();
            },
            lastDayOfMonth(){
                return moment(this.dateContext).endOf('month').weekday();
            },
            initialDate(){
                return this.today.get('date');
            },
            initialMonth(){
                return this.today.format('MMMM');
            },
            initialYear(){
                return this.today.format('Y');
            },
            lastDayOfPrevMonth(){
                return moment(this.dateContext).subtract(1,'months').endOf('month').date()
            },
            days(){
                let days=[];
                let month = this.dateContext.month()+1;
                let prevMonth = moment(this.dateContext).subtract(1,'month').month()+1;
                let nextMonth = moment(this.dateContext).add(1,'month').month()+1;
                let prevMonthDay = this.lastDayOfPrevMonth - (this.firstDayOfMonth-1);
                while(prevMonthDay<=this.lastDayOfPrevMonth){
                    days.push({
                        id:_.uniqueId('_day'),
                        day:prevMonthDay,
                        month:prevMonth,
                        year:this.year-1
                    })
                    prevMonthDay++
                }
                _.each(_.range(this.daysInMonth), (e) => {
                    let date = this.year+'-'+('0' + month).slice(-2)+'-'+('0' + (e+1)).slice(-2);
                    days.push({
                        id:_.uniqueId('_day'),
                        day:e+1,
                        month,
                        year:this.year,
                        date,
                        registrations:_.filter(this.filteredRegistrations, (r) => {
                            if(r.start_date<=date && r.end_date>date ) return true;
                        })

                    })
                })
                let nextMonthDay = (this.lastDayOfMonth)
                while(nextMonthDay<6){
                    nextMonthDay++
                    days.push({
                        id:_.uniqueId('_day'),
                        day:nextMonthDay,
                        month:nextMonth,
                        year:this.year+1
                    })
                }
                return days;
            },

            weeks(){
                return _.chunk(this.days,7);
            },
            filteredRegistrations(){
                if(this.filters.pending){
                    return _.filter(this.registrations,{'status':'pending'})
                }else{
                    return this.registrations
                }
            },
            distinctRegisterDays(){
                let out=[];
                _.each(_.range(this.daysInMonth), (e) => {
                    let date = this.year+'-'+('0' + this.noMonth).slice(-2)+'-'+('0' + (e+1)).slice(-2);
                    if(_.filter(this.registrations, (r) => {
                            if(r.start_date<=date && r.end_date>date ) return true;
                        }).length){
                            out.push(date)
                        }

                })
                return out;
            },
            availableDays(){
                return moment(this.dateContext).endOf('month').date() - this.distinctRegisterDays.length
            }

        },
        methods:{
            getRegistrations(){
                this.params.min_stay = this.year+'-'+('0' + this.noMonth).slice(-2)+'-01';
                this.params.max_stay = this.year+'-'+('0' + this.noMonth).slice(-2)+'-'+('0' + this.daysInMonth).slice(-2);
                axios.post('registrations',this.params).then( ({data}) => {
                    this.registrations=(data)
                })
            },
            editRegister(reg){
                this.selectedRegister = reg
            },
            closeEditor(){
                this.selectedRegister = null
            },
            saveInfo(info){
                axios.put('info/'+this.selectedRegister.id,info).then( ({data}) => {
                    this.selectedRegister = null
                })
            },


            addMonth(){
                this.dateContext = moment(this.dateContext).add(1,'month');
                this.getRegistrations()
            },
            subtractMonth(){
                this.dateContext = moment(this.dateContext).subtract(1,'month');
                this.getRegistrations()
            }
        }
    }
</script>


<style lang="scss" scoped>
.calendar{
    max-width: 1000px;
    margin: auto;
    &>table{
        width: 100%;
        border-collapse: collapse;
        tr{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            align-items: center;
            justify-content: center;
        }
        td{
            flex: 1;
            border: 1px solid #999;
            position: relative;
            height: 80px;
            vertical-align: top;
            padding: 5px;
            &.occupied{
               background: #fbaf42 ;
            }
            
            .participants{
                top:25px;
                z-index: 20;
                position: absolute;
                background: #fff;
                display: none;
                white-space: nowrap;
                padding: 2px 5px;
                border: 1px solid #aaa;
                box-shadow: 0 0 5px rgba(0,0,0,.5);
                border-radius: 4px;
                .participant{
                    padding: 5px;
                }
            }
            &:hover .participants{
                display: block;

            }
        }
    }
}



    .no-current-month{
        color: #aaa;
    }

    .calendar-header{
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
            justify-content: center;
        &>div{
            flex: 1;
        }
        .label{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: space-between;
            i{
                cursor:pointer;
                padding: 10px;
            }
            h3{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .today{
        font-weight: bold;
        color: blue;
    }
</style>