<template>
    <div class="fog" @click.self="close">
        <div class="editor-card">
            <div class="mb-2">
            Participant: {{register.full_name}}<br>
            Dates: {{register.start_date}} to  {{register.end_date}}<br>
            Status: {{register.status}}<br>
            Room: {{register.room}}
            </div>
            <form @submit.stop.prevent="save">
            <div class="mb-2 form-group">
                <h4>Flight Info</h4>
                <textarea v-model="preferences.flight_info" rows="4"></textarea>
            </div>

            <div class="mb-2">
                <h4>Meal Preference</h4>
                <select v-model="preferences.meal_preference">
                    <option :value="null">No Defined</option>
                    <option value="omnivore">Omnivore</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                </select>
            </div>

            <div class="mb-2">
                <h4>Activities</h4>
                <label><input type="checkbox" :true-value="1" v-model="preferences.yoga_class"> Yoga Class</label>
                <label><input type="checkbox" :true-value="1" v-model="preferences.juice_detox"> Juice Detox</label>
                <label><input type="checkbox" :true-value="1" v-model="preferences.massage"> Massage</label>
                <label><input type="checkbox" :true-value="1" v-model="preferences.breath_work"> Breath-Work</label>
            </div>
            <div>
                <button type="submit" class="gold-btn">Save info</button>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name:'RegisterEditor',
    props:{
        register:[Object]
    },
    data(){
        return {
            preferences:{
                flight_info:null,
                meal_preference:null,
                yoga_class:false,
                juice_detox:false,
                massage:false,
                breath_work:false,
            }
        }
    },
    mounted(){
        axios.get('info/'+this.register.id).then( ({data}) => {
            this.preferences.id= data.id
            this.preferences.flight_info= data.flight_info || null
            this.preferences.meal_preference= data.meal_preference || null
            this.preferences.yoga_class= data.yoga_class || false
            this.preferences.juice_detox= data.juice_detox || false
            this.preferences.massage= data.massage || false
            this.preferences.breath_work= data.breath_work || false            
        }).catch( (e) => {
            console.warn(e.response)
        });
    },
    methods:{
        save(){
            this.$emit('save',this.preferences);
        },
        close(){
            this.$emit('close');
        }
    }
}
</script>

<style lang="scss" scoped>
    .fog{
        z-index: 30;
        position: fixed;
        top:0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(0,0,0,.6);
    }
    .editor-card{
        background: #fff;
        margin: 20px auto;
        padding: 20px;
        max-width: 600px;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        border-radius: 4px;
    }
</style>